<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1"> <!-- don't know meaning -->
      <!-- page-header 個人資料 -->
        <div id="page-header">
          <div id="col-md-6 col-sm-4" style="float:left">
            <div class="text-center">
              <%= image_tag @user.avatar , class: "img-responsive img-rounded" %>
            </div>
          </div>

          <div class="col-md-4 col-sm-6" style="float:right">
            <h2><%= @user.name %></h2>
            <p><strong><%= @user.email %></strong></p>
            <p><%= @user.intro %></p>
            <div><%= simple_format @user_intro  %>
              <% if @user.email == current_user.email %>
                <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
          <div class="clearfix"></div>

        </div>
        <!-- 評論區 -->
        <div class="panel panel-default">
          <div class="panel-ehading">
          <h3 class="panel-title"><strong><%= @contented_restaurants.count %></strong>已評論餐廳</h3>
          </div>
        </div>
        <div class="panel-body">
          <% @contented_restaurants.each do |restaurant| %>
          <%= link_to restaurant_path(restaurant) do %>
        <div class="my-restaurant">
          <div>
              <%= image_tag restaurant.image,class: "img-responsive img-rounded" %>
          </div>
          
        </div>
          <h5><%= restaurant.name %></h5>
        </div>
        
          <% end %>
        <% end %>
        <br>
    </div>
  </div>
</div>