<div class="container">
    <h1>餐廳評論網後台</h1> 

    <div><%= link_to 'New Restaurant', new_admin_restaurants_path , class: "btn btn-primary" %></div>
    <div>
        <%= link_to 'Restaurant', admin_restaurants_path %> |
        <%= link_to 'Categories', admin_categories_path %>
      </div>

  <table class="table table-striped">
        <tr> 
          <th>#</th>
          <th>name</th> 
          <th>category</th> 
          <th>show</th> 
          <th>edit</th>
          <th>delete</th>
        </tr>
    <tr><% @restaurants.each do |restaurant| %>
      <td><%= restaurant.id %></td>
      <td><%= restaurant.name %></td> 
      <td><%= restaurant.category.name %></td>
      <td><%= link_to 'Show', admin_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure?"} %></td>
    </tr>
    </tbody>
    <% end %>
</ul>
  </table>
</div>
<div style="width:600px;height:100px;text-align:center;;margin:0px auto;"><%= paginate @restaurants %></div>
<br>

